@charset "UTF-8";

@font-face {
    font-family: 'Happiness-Sans-Title';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2205@1.0/Happiness-Sans-Title.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

html > body, html > body .ProseMirror, html > body .toastui-editor-contents {
	font-family: 'Happiness-Sans-Title', sans-serif;
	text-underline-position:under;
}

.table-box-type-1 {
	width: 100%;
}

.table-box-type-1 > table th, .table-box-type-1 > table td {
	border:1px solid black;
	padding: 10px;
	text-align: center;
	max-width: 500px;
}

html > body .ProseMirror, html > body .toastui-editor-contents {
	text-align: left;
	font-size: 1.25rem;
}

.btn-text-link {
	color:black;
}
.btn-text-link:hover {
	color:red;
	text-decoration: underline;
}
.text-red {
	color: red;
}
.border-top-line {
	border-top : 1px solid #dfdfdf;
}
.border-bottom-line {
	border-bottom : 1px solid #dfdfdf;
}

html {
        height: 100vh;
        min-height: 100vh;
        background-image: url('https://c.wallhere.com/photos/9a/b3/anime_creatures_SpongeBob_SquarePants_Film_posters-2192947.jpg!d');
	    background-repeat : no-repeat;
	    background-attachment : fixed;
	    background-size : cover;
      }
.detailbody {
	width: 100%;
}